body{
	background-image:url(vin.jpg);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}
.bio{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	color:#ffffff;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
}
h1,h2{
	font-weight:100;
}
h2{
	font-size:25px;
	font-color:#ffffff;
}
.social-links{margin-top:50px;}
a{
	color:#ffffff;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}